<html xmlns:th="http://www.thymeleaf.org" lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body data-new-gr-c-s-check-loaded="14.997.0" data-gr-ext-installed="">
<div class="container">
    <form action="#" th:action="@{'/voting-system/users/' + ${user.getId()} + '/delete'}" th:object="${user}" th:method="post">
        <h2 class="form-signin-heading text-center">Delete</h2>
        <hr><br>
        <p>
            <label for="email" class="sr-only">Email</label>
            <input readonly type="text" id="email" name="email" class="form-control" placeholder="Email" required="" th:value="${user.getEmail()}" autofocus="">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Delete</button>
    </form>
</div>
</body></html>