<html xmlns:th="http://www.thymeleaf.org" lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form>
        <h2>Profile</h2>
        <hr>
        <a th:href = "@{'/voting-system/users/' + ${user.getId()} + '/edit'}" class="btn btn-primary btn-sm mb-3"> Edit </a>
        <a th:href = "@{'/voting-system/users/' + ${user.getId()} + '/delete'}" class="btn btn-primary btn-sm mb-3"> Delete </a>
        <form>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" id="staticEmail" th:value="${user.getEmail()}">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" readonly class="form-control" id="inputPassword" th:value="${user.getPassword()}">
                </div>
            </div>
            <div class="form-group row">
                <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" id="firstName" th:value="${user.getFirstName()}">
                </div>
            </div>
            <div class="form-group row">
                <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" id="lastName" th:value="${user.getLastName()}">
                </div>
            </div>
            <div class="form-group row">
                <label for="groupName" class="col-sm-2 col-form-label">Group Name</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" id="groupName" th:value="${user.getGroupName()}">
                </div>
            </div>
            <div class="form-group row">
                <label for="age" class="col-sm-2 col-form-label">Age</label>
                <div class="col-sm-10">
                    <input type="number" readonly class="form-control" id="age" th:value="${user.getAge()}">
                </div>
            </div>
            <div class="form-group row">
                <label for="interests" class="col-sm-2 col-form-label">Interests</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" id="interests" th:value="${user.getInterests()}">
                </div>
            </div>
            <div class="form-group row">
                <label for="role" class="col-sm-2 col-form-label">Role</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" id="role" th:value="${user.getRole()}">
                </div>
            </div>
        </form>
    </form>
</div>
</body></html>